button.return-btn{
    background: rgba(245, 245, 245, 0.8);
    border-color: rgb(253, 204, 85);
    border-style: outset inset inset outset ;
    color: rebeccapurple;
    border-radius: 7px;
    padding: .5rem 1rem .5rem 1rem;
    font-weight: lighter;
    transition: ease-in-out 100ms;
}

button.return-btn:active{
    background: rgba(239, 199, 64, 0.5);
    border-color: rgb(239, 199, 64);
    border-style: outset inset inset outset;
    color: rgba(4,17,120,1);
    transition: ease-in-out 100ms;
    font-weight: bold;
    padding: .7rem 1.2rem .7rem 1.2rem;
    transform:scale(.95);
}

button.return-btn:hover{
    background: rgba(239, 199, 64, 0.5);
    border-color: rgb(239, 199, 64);
    border-style: outset inset inset outset;
    color: rgba(4,17,120,1);
    transition: ease-in-out 100ms;
    font-weight: bold;
    padding: .7rem 1.2rem .7rem 1.2rem;
}

button a{
    text-decoration: none;
    color: rebeccapurple;
    padding-left: 4px;
    
}