@font-face {
    font-family: 'Friz Quadrata Std';
    src: url("FrizQuadrataStd.woff2") format('woff2'),
    url('FrizQuadrataStd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: 'Friz Quadrata Std'!important;
}
.wisfont {
    font-family: 'Friz Quadrata Std'!important;
}
body.login {
    background: rgb(119,0,255);
    background: linear-gradient(90deg, rgba(119,0,255,1) 0%, rgba(147,112,219,1) 50%, rgba(119,0,255,1) 100%);
}
input.wisfont {
    font-size:1.2em!important;
}
.signin-content {
    border: 2px solid #7700ff;
    border-radius: 20px;
    box-shadow: 0px 0px #340070,1px 1px #340070,2px 2px #340070,3px 3px #340070, 4px 4px #340070,5px 5px #340070,6px 6px #340070,7px 7px #340070,8px 8px #340070,9px 9px #340070,10px 10px #340070,11px 11px #340070,12px 12px #340070,13px 13px #340070,14px 14px #340070,15px 15px #340070,16px 16px #340070, 17px 17px #340070,18px 18px #340070,19px 19px #340070,20px 20px #340070,21px 21px #340070,22px 22px #340070,23px 23px #340070,24px 24px #340070,25px 25px #340070,26px 26px #340070,27px 27px #340070,28px 28px #340070, 29px 29px #340070,30px 30px #340070,31px 31px #340070,32px 32px #340070,33px 33px #340070,34px 34px #340070,35px 35px #340070,36px 36px #340070,37px 37px #340070,38px 38px #340070,39px 39px #340070,40px 40px #340070, 41px 41px #340070,42px 42px #340070,43px 43px #340070, 44px 44px #340070,45px 45px #340070,46px 46px #340070,47px 47px #340070,48px 48px #340070,49px 49px #340070,50px 50px #340070, 51px 51px #340070,52px 52px #340070,53px 53px #340070,54px 54px #340070,55px 55px #340070, 56px 56px #340070;
}
.wisfontorange {
    color: #FF7700!important;
}
.wiscolor {
    background: rgb(119,0,255);
    background: linear-gradient(90deg, rgba(119,0,255,1) 0%, rgba(147,112,219,1) 50%, rgba(119,0,255,1) 100%);
}
a {
   text-decoration: none!important;
}
table.display tbody tr:nth-child(even):hover td{
    background-color: #fef1d5 !important;
}

table.display tbody tr:nth-child(odd):hover td {
    background-color: #fef1d5 !important;
}
.feather-props {
    padding: 7px 10px 9px 10px;
    padding-left: 23px;
    background: transparent;
    text-decoration: none;
    display: flex;
    width: 100%;
    align-items: center;
}