  @font-face {
    font-family: 'Friz Quadrata Std Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Italic'), url('../fonts/friz-quadrata-std-italic-587033b2c95df.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Friz Quadrata Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Medium'), url('../fonts/friz-quadrata-std-medium-5870338ec7ef8.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Friz Quadrata Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold'), url('../fonts/friz-quadrata-std-bold-587034a220f9f.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Friz Quadrata Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold Italic'), url('../fonts/friz-quadrata-std-bold-italic-587033d6d4298.woff') format('woff');
    }

.side-nav{
    font-size: 1.2em!important;
}
.nav-item:hover, .title:hover {
    font-weight: bold!important;
}


/* BASIC */

html {
    /* background-color: #56baed; */
}

body {
    font-family: "Friz Quadrata Std Medium", sans-serif;
    height: 100vh;
}
body.reportCard{
    background-image: url("../images/logo/repeat.png");
    background-repeat: repeat;

}
div.reportCardbg {
    opacity: 0.9;
}

a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px;
    color: #121212;
}



/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover.login, input[type=submit]:hover.login, input[type=reset]:hover.login  {
    background-color: #39ace7;
}

input[type=button]:active.login, input[type=submit]:active.login, input[type=reset]:active.login  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text].login {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus.login {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder.login {
    color: #cccccc;
}
input[type=password].login {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus.login {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=password]:placeholder.login {
    color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    /*background-color: #56baed;*/
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after{
    width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width:60%;
}

#main {
  margin: 50px 0;
	width:100%!important;
}

#main #faq .card {
  margin-bottom: 30px;
  border: 0;
}

#main #faq .card .card-header {
  border: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
          box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  padding: 0;
}

#main #faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  background: #FFE472;
  color: #222;
  padding: 20px;
}

#main #faq .card .card-header .btn-header-link:after {
  content: "\f107";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed {
  background: #A541BB;
  color: #fff;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f106";
}

#main #faq .card .collapsing {
  background: #FFE472;
  line-height: 30px;
}

#main #faq .card .collapse {
  border: 0;
}

#main #faq .card .collapse.show {
  background: #FFE472;
  line-height: 30px;
  color: #222;
}


/* Show Inventory Styles */
/* * {
    border: 1px solid black;
} */

/* Option Button */
.dropdown button {
    border-radius: 0 !important;
    width: 170px;
}


button.dropdown-btn::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f085";
    padding-right: 5px;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Defines the width of Dropdown / Parent Container for button */
.dropdown-content {
    display: none;
    position: absolute;
    width: 170px;
    z-index: 1;
    background-color: #dc3545;
    color: white;
    padding-left: 0;
    padding-right: 0;
}

/* Dropdown Button Properties */
.dropdown-content button {
    display: block;
    width: 100%;
    font-size: .8rem;
    border-radius: 0 !important;
}

/* Custom Properties */
.dropdown-content button:nth-of-type(1)::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\2b";
    padding-right: 5px;
}

/* Custom Properties */
.dropdown-content :nth-of-type(2)::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f00c";
    padding-right: 5px;
}

/* Custom Properties */
.dropdown-content button:nth-of-type(3)::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f328";
    padding-right: 5px;
}

/* Hover Properties */
.dropdown-content button:hover {
    background-color: brown;
    color: white;
}

/* Hide/Show Toggler */
.showdrpdwn {
    display:block;
    position:fixed;
    top:190px;
}

/* Modal Properties*/
.modal-dialog {
    border-radius: 0 !important;
}

.modal-footer button:nth-of-type(1):before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f0c7";
    padding-right: 5px;
}

.modal-footer button:nth-of-type(2):before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f00d";
    padding-right: 5px;
}

.modal-header {
    background-color: #ffc107;
    border-radius: 0 !important;
}

.modal-header h5 {
    color: white;
}

.modal-footer {
    background-color: #ffc107;
    border-radius: 0 !important;
}

.modal-footer button {
    color: white;
    border-radius: 0 !important;
}

input {
    text-align: center;
}

div h3.male{
    margin-left: 9px;
}

div h3.fem{
    margin-left: 9px;
}

.bg-male{
    background-color: #36a9e0;
}

.bg-female{
    background-color: #e5007d;
}   

.bg-custom{
    background-color: #ffd967;
}

.bg-warning-subtle{
    background-color: #ffc107;
}

div.card#table-inventory{
    height: auto!important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media screen and (max-width: 1275px) {
    div.card#table-inventory{
        height: 100%;
    }
    
}